/* General reset */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
section {
    padding: 10px;
}
/* Nav and footer */
nav {
    background-color: #5390d9; 
    color: #F4F1DE;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav a {
    color: #F4F1DE; 
    text-decoration: none;
}

nav a:hover {
    color: #80ffdb; 
}

footer {
    background-color: #6930c3; 
    color: #F4F1DE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
}

/* Splash screen */
.splash {
    text-align: center;
    padding: 20px;
    background-color: #f0f0fe;
}

.splash h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #7400b8; 
}

.splash img {
    border: 3px solid #5390d9; 
    border-radius: 50%;
    width: 150px;
}

.address {
    font-weight: bold;
    color: #56cfe1; 
}

.tagline {
    font-style: italic;
    color: #6930c3; 
}

/* Horizontal rule styling */
hr {
    border: 1px solid #4ea8de; 
    border-style: dotted;
    margin: 0;
}

/* Section headers */
h2 {
    font-family: 'Prisa'; /* google font */
    color: #5e60ce; 
}

/* Education Section */
.edu {
    background-color: #d1ecf0;
    padding: 20px;
}

/* Unordered list */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Description lists using grid layout */
dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Links */
a {
    color: #5390d9; 
    text-decoration: none;
}

a:hover {
    color: #80ffdb;
}

/* Project cards */
.three-col {
    background-color: #56cfe1; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    padding: 20px;
    background-color: #dffbff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 2px solid #5390d9; 
}

.card img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.card h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; /* font size change */
    color: #7400b8; 
}

.disclaimer {
    color: #5c5d5c; 
    font-size: small; /* font size change */
    margin: 0px;
}

/*contact page*/
.one-col {
    margin: 10px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    margin: 10px;
    width: 40%
}
form textarea {
    margin: 10px;
    width: 40%;
    height: 150px;
}
.submit-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #5390d9;
    color: #f4f1de;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #64DFDF; 
    color: #6930C3;
}
#info {
    background-color: #dffbff; 
    margin: 0px;
}
